<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg"
    name="@namespace@"
    abbrev="@abbrev@"
    version="@version@"
    spec="1.0">
    <title>@title@</title>
    <dependency processor="http://exist-db.org" semver-min="@existVersion@"/>
    <dependency package="http://exist-db.org/html-templating" semver-min="@templatingVersion@"/>
</package>
