<html data-template="lib:resolve-apps" data-template-abbrev="dashboard, eXide, fundocs, documentation, demo">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta data-template="config:app-meta" />
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico" />
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/atom-one-dark.min.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap3-glyphicons.min.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/fundocs.min.css" />
        <script type="module" src="resources/scripts/index.min.js?register"></script>
    </head>

    <body data-template="lib:parse-params" data-template-start="\{">
        <div class="container" id="main-container">
            <div class="col-md-12" id="header">
                <a href="/" id="logo">eXistDB</a>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="navigation">
            <div class="container navbar-container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <div class="navbar-collapse collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown" id="about">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://exist-db.org">eXist-db.org</a></li>
                                <li><a class="dropdown-item" href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="demo">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Demo</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{${demo.pkg.abbrev}}/index.html">Overview</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/basic/basics.html">Basic XQuery
                                        Examples</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/basic/xquery3.html">XQuery 3.0
                                        Examples</a></li>
                                <li><a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/web/index.html">Web
                                        Examples</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/urlrewriting/index.html">URL
                                        Rewriting</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/special/index.html">Special
                                        Features</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/templating/templates.html">Templating</a>
                                </li>
                                <li><a class="dropdown-item" href="{${demo.pkg.abbrev}}/cex-demo.html">Content
                                        Extraction</a></li>
                                <li><a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/tests/test.html">Unit
                                        Testing</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html?browseContacts">RestXQ
                                        and
                                        AngularJS</a></li>
                                <li><a class="dropdown-item" href="{${demo.pkg.abbrev}}/examples/xforms/">XForms and
                                        RestXQ</a></li>
                                <li><a class="dropdown-item"
                                        href="{${demo.pkg.abbrev}}/examples/contacts/html/home.html">Contacts
                                        RestXQ Demo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="documentation">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Documentation</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="documentation">Documentation</a></li>
                                <li><a class="dropdown-item" href="{${fundocs.pkg.abbrev}}/index.html">Function
                                        Library</a></li>
                                <li><a class="dropdown-item"
                                        href="https://exist-db.org/exist/apps/wiki/blogs/eXist/">News &amp;
                                        Articles</a></li>
                                <li><a class="dropdown-item" href="https://en.wikibooks.org/wiki/XQuery">XQuery
                                        Wikibook</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="development">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Development</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{${exide.pkg.abbrev}}/index.html">eXide</a></li>
                                <li><a class="dropdown-item" href="https://exist-db.org/api/index.html">Javadocs</a>
                                </li>
                                <li><a class="dropdown-item" href="https://github.com/eXist-db/exist/issues">Issue
                                        Tracker</a></li>
                                <li><a class="dropdown-item" href="https://github.com/eXist-db/exist">Source code</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="https://github.com/eXist-db/exist/blob/develop/CONTRIBUTING.md">Contributing
                                        to eXist</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="administration">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Administration</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a>
                                </li>
                                <li><a class="dropdown-item" href="/webstart/exist.jnlp">Webstart Client</a></li>
                                <li><a class="dropdown-item" href="{${monex.pkg.abbrev}}/">Monitoring and Profiling</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <main id="main" class="row"></main>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a id="poweredby" href="http://exist-db.org"></a>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container d-flex">
                <ul class="me-auto">
                    <li>
                        <a href="http://exist-db.org">eXist-db.org</a>
                    </li>
                    <li>
                        <a href="{${documentation.pkg.abbrev}}/documentation.xml">Documentation</a>
                    </li>
                    <li>
                        <a href="{${demo.pkg.abbrev}}/index.html">Demo</a>
                    </li>
                    <li class="hidden-xs-inline">
                        <a href="/status">Status</a>
                    </li>
                    <li>
                        <a href="{${documentation.pkg.abbrev}}/legal.xml">Legal</a>
                    </li>
                </ul>
                <div id="copyright" class="hidden-s">
                    <p>Copyright eXist-db Project 2013</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="resources/scripts/popper.min.js"></script>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="resources/scripts/highlight.min.js"></script>
        <script type="text/javascript" src="resources/scripts/xquery.min.js"></script>
        <script type="text/javascript" src="resources/scripts/query.js"></script>
        <script type="text/javascript">hljs.highlightAll();</script>
    </body>
</html>